---
import Card from '../components/Card.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Sobre mi'>
  <main>
    <a href='/'>Inicio</a>
    <a href='/about'>Sobre mi</a>
    <h1>Sobre mi</h1>

    <Card
      title='John Serrano'
      body='Ejemplo de como desarrollar un sitio web con Astro'
      href='https://johnserrano.co'
    />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
