---
import Button from '../components/Button.astro'
import { Counter } from '../components/Counter'
import Layout from '../layouts/Layout.astro'
import Navigation from '../components/Navigation.astro'

const pageTitle = 'Home'
---

<Layout title={pageTitle}>
  <main class='flex flex-col gap-4 items-start'>
    <h1 class='text-4xl text-center'>{pageTitle}</h1>
    <Navigation />

    <Button />

    <section class='my-5 w-full'>
      <Counter client:visible />
    </section>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
