---
import Button from '../components/Button.astro'
import { Counter } from '../components/Counter'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Página principal'>
  <main class='flex flex-col gap-4 items-start'>
    <h1 class='text-4xl text-center'>Hello World</h1>
    <a href='/about' class='text-rose-600 text-xl hover:underline'>About here</a>

    <Button />

    <section class='my-5 w-full'>
      <Counter client:visible />
    </section>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
