<button id='button' class='px-4 py-2 rounded bg-rose-500 text-slate-200 hover:opacity-90 my-14 mx-auto'>
  Haz clic
</button>

<script>
  function handleClick() {
    console.log('¡click here...!')
  }

  const button = document.getElementById('button')

  button?.addEventListener('click', handleClick)
</script>
