---
interface Props {
  blogTitle: string
}

const stylesLink = 'text-rose-600 text-xl hover:underline'
const { blogTitle } = Astro.props
---

<div class='nav-links'>
  <a href='/' class={stylesLink}>Inicio</a>
  <a href='/about/' class={stylesLink}>Sobre mi</a>
  <a href='/blog/' class={stylesLink}>{blogTitle ?? 'Blog'}</a>
</div>
